#Android generated
bin
gen
obj

#Eclipse
#.project
#.classpath
.settings

#IntelliJ IDEA
*.ipr
*.iws
*.iml
out/

#Checkstyle
.checkstyle

#Maven
target
release.properties
pom.xml.*

#Ant
build.xml
local.properties
proguard.cfg

#OSX
build/*
.gradle/*
.idea/*
.DS_Store

STMobileAPI/build/*
.externalNativeBuild
buildSrc/
